body {
	font-family:'Shadows Into Light', Verdana, sans-serif;
	text-align:center;
	color:#343434;
	background-color: #dfdfdf;
	background:url(../images/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
	}

body h1
{
font-size:100px;
font-family: 'Shadows Into Light', Helvetica, sans-serif;
font-weight:bold;
color:#ffffff;
padding:5px;
}

body h4
{
font-size:36px;
font-family: 'Shadows Into Light', Helvetica, sans-serif;
font-weight:bold;
color:#ffffff;
padding:5px;
}
#main-container
{
background-color: rgba(15, 14, 14, 0.79);
width:650px;
margin:40px auto;
min-width:650px;
border-radius:10px;
}
#core
{
margin-top:60px;
}

#main-counter {
	z-index:100;
	position:relative;
	margin:-40px auto;
	width:650px;
	height:138px;
	font-family:'Shadows Into Light', Arial, Helvetica, sans-serif;
}
#counter {
	height: 55px;
	position: relative;
	margin-bottom:10px;
}
#time-values {
	width: 100%;
	clear:both;
	margin: 0px auto;
}
.numbers {
	font-weight: bold;
	text-align: left;
	font-size:48px;
}
.below-labels {
	font-size:18px;
	text-align:center;
	padding-top:10px;
}
#count_days {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#ffffff; 
	
}
#count_hours {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 2px;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#ffffff;
	
}
#count_minutes {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#ffffff; 
	
}
#count_seconds {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#ffffff; 
	
}



#footer
{
background-color: rgba(20, 20, 17, 0.79);
width:100%;
margin-top:70px;
min-width:640px;
}
#footer a
{
color:#ffffff;
text-decoration:underline;
}
#footer p
{
font-size:16px;
font-family:'Shadows Into Light', Arial, Helvetica, sans-serif;
padding:15px;
color:#ffffff;
}

#social-icons
{
padding:5px;
float:right;
}
